@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --IMBDarkBlue: #1f418c;
    --IMBBlue: #3770b7;
    --IMBLightBlue: #6398d1;
    --IMBMint: #80c9c4;
    --IMBLightGray: #d4d8da;
    --IMBGray: #839599;
}

body {
    font-family: Montserrat, sans-serif;
    color: black !important
}

footer a {
    font-size: 0.8em;
}

.markdown-section a, .markdown-section a :visited {
    color: var(--IMBMint) !important;
}

th {
    color: white !important;
    background-color: var(--IMBDarkBlue);
}

h1, h2, h3, h4, h5 {
    color: var(--IMBDarkBlue);
}

.payload-header{
    background-color: var(--IMBMint);
    color: white;
}

.payload-data{
    background-color: var(--IMBBlue);
    color: white;
}

.table-details {
    font-size: 0.8em;
    text-align: center;
}

.sidebar ul li.active>a{
    color: var(--IMBDarkBlue) !important
}

.sidebar ul li strong {
    color: var(--IMBLightBlue) !important
}

.sidebar img {
    width: 200px;
}

section.cover a {
    color: white !important
}

section.cover .anchor span {
    color: white !important
}

section.content .anchor span {
    color: var(--IMBDarkBlue) !important
}

.custom-panel {
    margin: 5px;
}

.image-75 {
    -moz-transform:scale(0.75);
    -webkit-transform:scale(0.75);
    transform:scale(0.75);
}

.image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image-border {
    border: 1px solid var(--IMBLightGray)
}

.dragable-item {
    background-color: var(--IMBMint);
    width: fit-content;
    height: fit-content;
    border-radius: 17px;
    text-align: center;
    padding:7px;
    margin:5px; 
    color:White;
    display: inline-block;
}